.m-mainMovie {
  position: relative;
  &__img {
    width: 100%;
  }

  &__desc {
    position: absolute;
    color: #fff;
    top: 400px;
    left: 50px;
    width: 300px;
    text-align: start;
    font-family: "Netflix Sans";
  }

  &__title {
    margin-bottom: 10px;
  }

  &__story {
    font-size: 16px;
  }
}
