.m-movieCard {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s;
  box-shadow: 2px 4px 13px -4px rgba(0, 0, 0, 0.75);

  &:hover {
    transform: translateY(-10px);
  }

  &__navLink {
    text-decoration: none;
  }

  &__point {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__star {
    color: yellow;
    margin-right: 5px;
  }

  &__header {
    height: 300px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__body {
    min-height: 170px;
    background: #000;
    padding: 10px;
    color: #fff;
  }

  &__title {
    text-align: start;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__genre {
    &List {
      display: flex;
      flex-wrap: wrap;
    }

    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    min-width: 47%;

    &:last-child {
      margin-right: 0;
    }
  }
}
