.m-home {
  padding-top: 100px;
  padding-bottom: 75px;

  &__movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 1080px;
    margin: 0 auto;
    gap: 20px;
  }
}
