.m-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  color: #fff;
  background: #24292e;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;

  &__logo {
    text-decoration: none;
    font-size: 24px;
    margin-right: auto;
  }

  &__navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__navItem {
    border-radius: 3px;
    margin-right: 7px;
    padding: 4px;

    a {
      text-decoration: none;
    }

    button {
      border: none;
      color: white;
      background: transparent;
      font-family: inherit;
      font-size: inherit;
      text-transform: uppercase;
      letter-spacing: inherit;
      cursor: pointer;
    }
  }
}
